<ion-header>
  <ion-toolbar color="success">
    <ion-title>La Tunisie produit 150.000 </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/images.jfif" width="100%"/>
  <p>«La Tunisie produit, chaque année, environ 150.000 tonnes de déchets dangereux, dont 75% sont des déchets industriels». C’est en tout cas ce qu’estime Omar Zouaghi, cadre de l’Agence nationale de gestion des déchets (ANGED), alors qu’il intervenait à l’ouverture de l’atelier régional sur «les méthodes et les technologies de la gestion des déchets dangereux et spécifiques dans l’expérience tunisienne».

Zouaghi a indiqué que la Tunisie dispose d’un arsenal juridique, organisationnel et technique pour la gestion de ces déchets, précisant que le principe de la gestion des déchets dangereux consiste à faire payer au polluant le coût de la gestion de ses déchets et à présenter aux industriels le soutien technique nécessaire pour adhérer à la gestion durable des déchets.</p>
</ion-content>
